body {
	font-family: "Segoe UI Light","Segoe UI","Segoe WP","Helvetica Neue",sans-serif;
	background-color: #e0ecff;
}

.header {
	font-style: italic;
}

.tile {
	-webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}

.tile:hover {
	background-color: #ddffe4;
}

#ClaimButton {
	width: 12%;
	height: 150%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50px;
}

button {
	margin-left: auto;
	margin-right: auto;
}

#map {
        height: 400px;
        width: 80%;
		margin:0 auto 0 auto;
		
       }
#main {
	background-color: #bdd9fc;
}
#userID {
	font-family: Bauhaus 93; 
}
#password {
	font-family: Bauhaus 93;
}
		border-radius: 15px;
       }
